/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.overlay form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form input[type="text"], form input[type="email"], form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background-color: #45a049;
}

body, html {
    background-color: #fff; /* Ensures the entire page has a white background */
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
}

body.index {
    background-color: #000;
    color: #fff;
}

/* Header Styles */
header, header .button {
    background-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 0px 0px;
    height: 40px;
    transition: background-color 0.3s ease;
}

header h1 a {
    color: #fff;
    font-size: 35px;
    text-decoration: none;
}

/* Navigation Styles */
nav {
    align-items: center;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #000;
    width: 100%;
    z-index: 1000;
    height: 80px;
}

nav h1, nav ul li a {
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    border-radius: 50px;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.4s ease, color 0.4s ease;
}

nav ul li a:hover {
    background-color: #f1f1f183;
}

#secondaryNav.hidden {
    display: none;
}
#secondaryNav.active {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000; /* Adjust as per your design */
    z-index: 1001; /* Make sure it's above other content */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.button-animate {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-animate:hover {
    background-color: #555;
    transform: scale(1.05);
}

.sign-up-button, .sign-up-button:hover {
    background-color: #fff;
    border-radius: 12px;
    color: #000;
    padding: 10px 15px;
}

/* Dropdown Menu Styles */
.dropdown, .chores-dropdown {
    display: inline-block;
    position: relative;
}

.dropdown .dropdown-content, .chores-dropdown-content, .chores-dropdown:hover .chores-dropdown-content {
    background-color: #f9f9f9;
    border-radius: 10px;
    display: none;
    font-size: 15px;
    position: absolute;
}

.dropdown-content a, .chores-dropdown-content a {
    color: black;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-content a:hover, .chores-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.chores-dropbtn {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
}

.chores-dropbtn:hover {
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
}

.selected {
    background-color: #f1f1f183; /* Highlight color for selected dropdown */
}

/* Hero Section Styles */
.hero {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 150px 100px;
}

.hero-content, .hero p, .chores-dropdown {
    font-size: 20px;
    margin-bottom: 35px;   
    flex-direction: column;
    justify-content: center;
}

.hero h2 {
    font-size: 45px;
    margin-bottom: 40px;
    flex-direction: column;
    justify-content: center;

}

.hero-image {
    border-radius: 100px;
    flex-basis: 20%;
    width: auto;
    height: auto;
    max-width: 45%;
}

/* Employee Section Styles */
.employee {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 100px 100px;
    background-color: #fff;
    gap: 40px;
}

.employee-image {
    border-radius: 100px;
    flex-basis: 20%;
    width: auto;
    height: auto;
    max-width: 45%;
}

.employee h2 {
    font-size: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    color: #000;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.employee p{
    font-size: 20px;
    margin-bottom: 35px;
    color:#000;
    margin-right: 40px;
}

.employee-actions {
    display: flex;
    justify-content: start; /* Adjust as needed, e.g., space-between, space-around */
    gap: 20px; /* Adjust the gap between buttons as needed */
}

.employee-existingmbr {
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
    position: relative; /* Needed for absolute positioning of the pseudo-element */
    overflow: hidden; /* Ensures the pseudo-element doesn't extend beyond the button's boundaries */
}

.employee-existingmbr::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%; /* Start with no width */
    height: 2px; /* Same height as your desired border */
    background-color: #000; /* Border color */
    transition: width 0.4s ease; /* Animate width change */
}

.employee-existingmbr:hover::after {
    width: 100%; /* Full width on hover */
}

.employee-strt {
    background-color: #000;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
}

.employee-strt:hover {
    background-color: rgba(59, 59, 59, 0.507);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
    transition: background-color 0.4s ease, color 0.4s ease;
}

/* Business Section Styling */

.business {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 100px 100px;
    background-color: #f1f1f1;
    gap: 40px;
}

main h1 {
    color: #000;
    background-color: #f1f1f1;
    font-size: 35px;
    padding: 10px 20px;
    
}
.business h1 {
    color: #000;

}

.business-image {
    border-radius: 100px;
    flex-basis: 20%;
    width: auto;
    height: auto;
    max-width: 45%;
}

.business h2 {
    font-size: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    color: #000;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.business p{
    font-size: 20px;
    margin-bottom: 35px;
    color:#000;
    margin-right: 40px;
}

.business-actions {
    display: flex;
    justify-content: start; /* Adjust as needed, e.g., space-between, space-around */
    gap: 20px; /* Adjust the gap between buttons as needed */
}

.business-existingmbr {
    background-color: #f1f1f1;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
    position: relative; /* Needed for absolute positioning of the pseudo-element */
    overflow: hidden; /* Ensures the pseudo-element doesn't extend beyond the button's boundaries */
}

.business-existingmbr::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%; /* Start with no width */
    height: 2px; /* Same height as your desired border */
    background-color: #000; /* Border color */
    transition: width 0.4s ease; /* Animate width change */
}

.business-existingmbr:hover::after {
    width: 100%; /* Full width on hover */
}

.business-strt {
    background-color: #000;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
}

.business-strt:hover {
    background-color: rgba(59, 59, 59, 0.507);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
    transition: background-color 0.4s ease, color 0.4s ease;
}

/* Manager Section Styling */

.manager {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 100px 100px;
    background-color: #f1f1f1;
    gap: 40px;
}

.manager-image {
    border-radius: 100px;
    flex-basis: 20%;
    width: auto;
    height: auto;
    max-width: 45%;
}

.manager h2 {
    font-size: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    color: #000;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.manager p{
    font-size: 20px;
    margin-bottom: 35px;
    color:#000;
    margin-right: 40px;
}

.manager-actions {
    display: flex;
    justify-content: start; /* Adjust as needed, e.g., space-between, space-around */
    gap: 20px; /* Adjust the gap between buttons as needed */
}

.manager-existingmbr {
    background-color: #f1f1f1;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
    position: relative; /* Needed for absolute positioning of the pseudo-element */
    overflow: hidden; /* Ensures the pseudo-element doesn't extend beyond the button's boundaries */
}

.manager-existingmbr::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%; /* Start with no width */
    height: 2px; /* Same height as your desired border */
    background-color: #000; /* Border color */
    transition: width 0.4s ease; /* Animate width change */
}

.manager-existingmbr:hover::after {
    width: 100%; /* Full width on hover */
}

.manager-strt {
    background-color: #000;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
}

.manager-strt:hover {
    background-color: rgba(59, 59, 59, 0.507);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
    transition: background-color 0.4s ease, color 0.4s ease;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .features, nav {
        align-items: center;
        flex-direction: column;
    }

    .hero, .hero img {
        flex-direction: column;
    }

    .hero img {
        margin: 20px 0;
        max-width: 50%;
    }

    .hero-text, nav ul li .employee{
        margin: 0;
    }

    nav ul {
        flex-direction: column;
    }
}
